/* ---------------------- Section top-inner ---------------------- */
section.top-inner {
	background-color: #edf1f4;
	padding-top: 90px;
	padding-bottom: 45px;
	position: relative;
	background-image: linear-gradient(to right, #F0F3F6 , #D0DBE1);
	background-position: bottom center;
	background-repeat: no-repeat;
	.title {
		@include f-l;
		font-size: 60px;
		line-height: 60px;
		color: #002436;
		margin: 0;
		text-align: right;
		display: inline-block;
		vertical-align: middle;
	}
	.breadcrumbs {
		text-align: right;
		margin-top: 30px;
		display: inline-block;
		vertical-align: middle;
		float: left;
	}
	.line {
		@include f-r;
		font-size: 18px;
		color: #002436;
		a {
			@include f-r;
			font-size: 18px;
			color: #002436;
			margin: 0 5px;
		}
		.breadcrumb_last {
			@include f-b;
			font-size: 18px;
			color: #002436;
			margin: 0 5px;
		}
	}

	@media only screen and (max-width : $lw) {
		padding-top: 50px;
		padding-bottom: 40px;
		.title {
			font-size: 40px;
		}

	}
	@media only screen and (max-width : $mw) {
		padding-bottom: 30px;
		.title {
			font-size: 40px;
			line-height: 30px;
		}
		.breadcrumbs {
			float: none;
			display: block;
			margin-top: 15px;
		}
	}
}
/* --------------------- /Section top-inner ---------------------- */

/* ---------------------- Section team ---------------------- */
section.team {
	.section-title, .section-subtitle {
		text-align: right;
	}

	.boxes {
		display: flex;
		flex-wrap: wrap;
		font-size: 0;
		margin: -15px;
		margin-top: 25px;
		.box {
			width: 25%;
			margin: 0;
			padding: 15px;
			display: block;
			position: relative;
			overflow: hidden;
			.inner {
				overflow: hidden;
				position: relative;
			}
			.image {
				position: relative;
				
				overflow: hidden;
				width: 100%;
				img {
					width: 100%;
				}
			}
	
			.text {
				padding: 10px;
				color: #002436;
				text-align: center;
				.name {
					@include f-b;
					font-size: 22px;
				}
				.position {
					@include f-r;
					font-size: 18px;
				}
			}
		}
	}

	@media only screen and (max-width : $mw) {
		.boxes {
			.box {
				width: 50%;
				.text {
					.name {
						@include f-b;
						font-size: 20px;
					}
					.position {
						@include f-r;
						font-size: 16px;
					}
				}
			}
		}
	}
}
/* --------------------- /Section team ---------------------- */

/* ---------------------- Section info ---------------------- */
section.info {
	padding: 75px 0;
	background-color: #EEF1F3;
	background-image: url("../images/inner/bg-info.jpg");
	background-repeat: no-repeat;
	background-position: left top;
	.info {

		display: flex;
		align-items: center;

		.logo-mobile {
			display: none;
			margin-top: 20px;
		}
		.text {
			color: #002436;
			margin-right: 45px;
			.title {
				@include f-b;
				font-size: 40px;
				line-height: 40px;
			}
			.subtitle {
				@include f-b;
				font-size: 24px;
			}
			.content {
				@include f-r;
				font-size: 18px;
				p {
					margin-top: 20px;
				}
				.btn { 
					margin-top: 35px;
				}
			}
		}
	}



	@media only screen and (max-width : $lw) {

		.info {
			padding: 40px;
			margin-top: 75px;
			.text {
				margin-left: 25px;
				.title {
					font-size: 30px;
					line-height: 30px;
				}
				.subtitle {
					font-size: 20px;
				}
				.content {
					@include f-r;
					font-size: 16px;
					p {
						margin-top: 20px;
					}
				}
			}
		}
	}

	@media only screen and (max-width : $mw) {
		padding: 35px 0;
		.info {
			margin: 0 -50px;
			margin-top: 5px;
			padding: 20px;
			padding-top: 0;
			.logo {
				display: none;
			}
			.logo-mobile {
				display: block;
			}
		}
	}
}
/* --------------------- /Section info ---------------------- */

/* ---------------------- Section diplomas ---------------------- */
section.diplomas {
	padding: 0;
	.parts {
		display: flex;
		margin: 0 -20px;
		.part {
			width: 50%;
			padding: 85px;
			background: #F3F4F7;
			text-align: center;
			&:nth-child(1) {
				
				background: url("../images/inner/diplomas/bg-diplomas.jpg") no-repeat;
				background-size: 100% auto ;
			}
			&:nth-child(2) {
				.title {
					color: #002436;
				}
				background: #fff;

				.boxes {
					.box {
						.inner {
							img {
								width: 90%;
							}
						}
					}
				}
			}
		}

		.title {
			@include f-b;
			font-size: 40px;
			color: #fff;
			text-align: right;
		}
		
		.btn {
			margin-top: 35px;
		}
		.boxes {
			display: flex;
			flex-wrap: wrap;
			font-size: 0;
			margin: -10px;
			margin-top: 40px;
			.box {
				width: 33.333%;
				margin: 0;
				padding: 10px;
				display: block;
				position: relative;
				overflow: hidden;
				.inner {
					overflow: hidden;
					position: relative;
					img {
						width: 100%;
					}
				}
			}
		}
		
	}

	@media only screen and (max-width : $tw) {
		.parts {
			.title {
				font-size: 70px;
			}
		}
	}

	@media only screen and (max-width : $mw) {
		.parts {
			flex-wrap: wrap;
			.title {
				font-size: 35px;
			}
			.part {
				width: 100%;

				&:nth-child(1) {
					padding: 35px;
				}
				&:nth-child(2) {
					padding: 35px;
				}
				.boxes {
					margin-top: 20px;
				}
			}
		}
	}
}
/* --------------------- /Section diplomas ---------------------- */

/* ---------------------- Section content-bottom ---------------------- */
section.content-bottom {
	background-color: #EEF1F3;
	background-image: url("../images/inner/bg-info.jpg");
	background-repeat: no-repeat;
	background-position: left top;
	.parts {
		display: flex;
		margin: 0 -40px;
		.part {
			width: 50%;
			padding: 0 40px;
			&:nth-child(1) {
			}
			&:nth-child(2) {
			}
		}
		.title {
			@include f-b;
			font-size: 40px;
			color: #002436;
		}
		.content {
			@include f-r;
			font-size: 18px;
			color: #002436;
			p {
				margin-top: 20px;
			}
		}
	}

	@media only screen and (max-width : $tw) {
		padding: 80px 0;
	}

	@media only screen and (max-width : $mw) {
		padding: 50px 0;

		.parts {
			flex-wrap: wrap;
			.part {
				width: 100%;
				&:nth-child(1) {
				}
				&:nth-child(2) {
					margin-top: 35px;
				}
			}

			.title {
				font-size: 25px;
			}
			.content {
				font-size: 16px;
				p {
					margin-top: 15px;
				}
			}
		}
	}
}
/* --------------------- /Section content-bottom ---------------------- */


/* ---------------------- Section gallery ---------------------- */
section.gallery {
	.boxes {
		display: flex;
		flex-wrap: wrap;
		font-size: 0;
		margin: -15px;
		.box {
			width: 33.333%;
			margin: 0;
			padding: 15px;
			display: block;
			position: relative;
			overflow: hidden;
			font-size: 0;
			.inner {
				overflow: hidden;
				position: relative;
			}
			.image {
				position: relative;
				padding-bottom: 95%;
				overflow: hidden;
				width: 100%;
				>img {
					position: absolute;
					height: 100%;
					left: 50%;
					transform: translateX(-50%);
				}
			}
	
			.cover {
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				background: rgba(0,50,75,0.46);
				opacity: 0;
				transition: 0.25s;
				.icon {
					position: absolute;
					top: 50%;
					left: 50%;
					transform: translate(-50%,-50%);
					height: 74px;
					width: 74px;
					border-radius: 100%;
					background: #fff;
					display: flex;
					justify-content: center;
					align-items: center;
					img {
						transition: 0.5s;
						transform: scale(0.8);
						opacity: 0;
					}
				}
			}

			&:hover {
				.cover {
					opacity: 1;
					.icon {
						img {
							opacity: 1;
							transform: scale(1);
						}
					}
				}
			}
		}
	}

	@media only screen and (max-width : $mw) {
		.boxes {
			margin: -10px;
			.box {
				width: 50%;
				padding: 10px;
			}
		}
	}
}
/* --------------------- /Section gallery ---------------------- */

/* ---------------------- Section blog ---------------------- */
section.blog {
	&.blog-more {
		background-color: #EEF1F3;
		background-image: url("../images/inner/bg-info.jpg");
		background-repeat: no-repeat;
		background-position: left top;
		.boxes {
			margin-top: 25px;
		}
	}
	.boxes {
		display: flex;
		flex-wrap: wrap;
		font-size: 0;
		margin: -45px;
		.box {
			width: 50%;
			margin: 0;
			padding: 45px;
			display: block;
			position: relative;
			overflow: hidden;
			.inner {
				overflow: hidden;
				position: relative;
				display: flex;

			}
			.image {
				width: 225px;
				flex-shrink: 0;
				margin-left: 20px;
				img {
					width: 100%;
				}
			}
	
			.text {
				text-align: left;
				.title {
					@include f-b;
					font-size: 24px;
					line-height: 24px;
					color: #00324B;
					text-align: right;
				}
				.content {
					@include f-r;
					font-size: 17px;
					color: #00324B;
					text-align: right;
					p {
						margin-top: 15px;
					}
					
					padding-bottom: 20px;
					border-bottom: 1px solid #D8D8D8;
				}

				.image-mobile {
					text-align: right;
					margin-top: 10px;
					display: none;
					img {
						max-width: 100%;
					}
				}

				.btn-more {
					margin-top: 35px;
					display: inline-block;
					@include f-m;
					font-size: 18px;
					color: #002436;
					padding-left: 25px;
					position: relative;
					transition: 0.25s;
					&:after {
						content: "\f104";
						font-family: FontAwesome;
						position: absolute;
						color: #FFAA00;
						left: 5px;
						top: 3px;
						font-size: 20px;
						transition: 0.25s;
					}
					&:hover {
						color: #FFAA00;
						&:after {
							left: 0px;
						}
					}
				}
			}
		}
	}

	@media only screen and (max-width : $tw) {
		.boxes {
			margin: -25px;
			.box {
				padding: 25px;
				.image {
					width: 150px;
				}

				.text {
					.title {
						font-size: 20px;
						line-height: 20px;
					}
					.content {
						font-size: 16px;
					}
				}
			}
		}
	}

	@media only screen and (max-width : $mw) {
		.boxes {
			margin: -15px;
			.box {
				padding: 15px;
				.inner {
					flex-wrap: wrap;
				}
				.text {
					text-align: right;
					.title {
						font-size: 18px;
						line-height: 18px;
					}
					.image-mobile {
						display: block;
					}
					.btn-more {
						font-size: 16px;
						margin-top: 15px;
						&:after {
							font-size: 18px;
						}
					}
				}
				.image {
					display: none;
				}
			}
		}
	}
}
/* --------------------- /Section blog ---------------------- */

.map {
	font-size: 0;
	img {
		width: 100%;
	}
}

.cont-form-single {
	background-image: url("../images/index/bg-footer.jpg");
	background-color: #00324b;
	background-size: auto;
	background-position: left bottom;
	background-repeat: no-repeat;
	padding: 40px;
	text-align: center;
	.form-title {
		@include f-b;
		font-size: 35px;
		color: #fff;;
	}
	.form-subtitle {
		@include f-b;
		font-size: 24px;
		color: #FFFFFF;

	}

	
	form {
		margin-top: 35px;
		flex-direction: column;
		.wpcf7-form-control-wrap {
			width: 100%;
			padding: 5px 0px;
		}
		input, textarea, select {
		 	padding: 15px 15px;
		 	width: 100%;
		}
		 input[type="submit"] {
		 	width: 100%;
		 	margin-top: 9px;
		 }
	}

	@media only screen and (max-width : $mw) {
		padding: 20px;
		.form-title {
			font-size: 25px;
		}
		.form-subtitle {
			font-size: 20px;
		}
	}
    
}


/* ---------------------- Section post ---------------------- */
section.post {
	.img-main {
		width: 50%;
		float: left;
		margin-right: 50px;
		margin-bottom: 50px;
		&.mobile {
			display: none;
		}
		img {
			width: 100%;
		}
	}

	.content {
		.title {
			@include f-b;
			font-size: 36px;
			line-height: 36px;
			color: #002436;
		}

		@include f-r;
		font-size: 18px;
		color: #002436;

		p, h1 ,h2, h3, h4, h5 {
			margin-top: 20px;
		}

	}

	@media only screen and (max-width : $tw) {
		.content {
			.title {
				font-size: 30px;
				line-height: 30px;
			}
		}
	}

	@media only screen and (max-width : $mw) { 
		.content {
			.title {
				font-size: 25px;
    			line-height: 25px;
			}
			font-size: 16px;
			p {
				margin-top: 15px;
			}
		}
		.img-main {
			float: none;
			width: 100%;
			margin-right: 0;
			margin-bottom: 0;
			margin-top: 20px;
			display: none;
			&.mobile {
				display: block;
			}
		}
	}
}
/* --------------------- /Section post ---------------------- */


/* ---------------------- Section questions ---------------------- */
section.questions {

	.parts {
		font-size: 0;
		.part {
			width: 50%;
			display: inline-block;
			vertical-align: top;
			&:nth-child(1) {
				padding-left: 55px;
			}
			&:nth-child(2) {
				padding-right: 55px;
			}
		}
	}
	.accordion {

		h3 {
			padding: 30px 0;
			outline: none;
			cursor: pointer;
			@include f-b;
			font-size: 24px;
			color: #363636;
			padding-right: 65px;
			position: relative;
			margin: 0;
			border: none;
			border-radius: 0;
			background: none;
			.ui-accordion-header-icon {
				display: none;
			}
			&:first-child {
				border-top: none;
			}
			&:before {
				display: inline-block;
				height: 40px;
				width: 40px;
				content: "+";
				color: #FFAA00;
				background: #00324B;
				
		
				text-align: center;
				padding-top: 2px;
				position: absolute;
				right: 0;
				top: 50%;
				transform: translateY(-50%);
				border: 3px solid #fff;
			}

			&.ui-state-active {
				&:before {
					content: "-";
				}
			}

		}

		.content {
			@include f-r;
			font-size: 17px;
			color: #002436;
			padding-bottom: 25px;
			border: none;
		}
	}
	@media only screen and (max-width : $tw) {

	}
	@media only screen and (max-width : $mw) {

		.parts {
		
			.part {
				width: 100%;
				&:nth-child(1) {
					padding-left: 0px;
				}
				&:nth-child(2) {
					padding-right: 0px;
				}
			}
		}

		.accordion {
			h3 {
				padding: 20px 0;
				padding-right: 50px;
				font-size: 18px;
				line-height: 18px;
				&:before {
					padding-top: 10px;
				}
			}
			.content {
				font-size: 16px;
			}
		}
	}
}
/* ---------------------- /Section questions ---------------------- */